 <div>
        <%- yield %>
    </div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <header>
            <h1>Portfolio overview</h1>
            <p>This is where you can see all about the projects I’ve worked on during the last few years.</p>
        </header>
    </div>
     <div class="col-md-3"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 portfolio">
            <ul class="filter text-center">
                <li>
                    <a href="/portfolio/" class="active">All</a>
                </li>
                <li>
                    <a href="/portfolio/branding/" class="">Branding</a>
                </li>
                <li>
                    <a href="/portfolio/print/" class="">Print</a>
                </li>
                <li>
                    <a href="/portfolio/stationery/" class="">Stationery</a>
                </li>
                <li>
                    <a href="/portfolio/illustration/" class="">Illustration</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
     
     
    <div class="row thumb-list">
        <% var items=getAllItems(); for (var i=0 ; i < items.length; i++) { var item=items[i]; %>
            <div class="col-sm-4 img-overlay">
                <a href="<%= item.category + '/' + item.name %>.html" title="<%=item.title %>">
                    <i class="fa fa-plus"></i>
                    <img src="<%= item.category + '/' + item.name %>-thumb.jpg">
                </a>
            </div>
            <% } %>
    </div>