<div>
    <%- yield %>
</div>
<div class="row thumb-list">
    <% var items=getCategoryItems(); for (var i=0 ; i < items.length; i++) { var item=items[i]; %>
        <div class="col-sm-4 img-overlay">
            <a href="<%= item.name %>.html" title="<%=item.title %>">
                <i class="fa fa-plus"></i>
                <img src="<%= item.name %>-thumb.jpg">
            </a>
        </div>
        <% } %>
</div>