<h1>
    <%= title %>
</h1>
<p>
    <%- yield %>
</p>
<ul>
    <% var images=getCurrentImages(); %>
        <% for (var i=0 ; i < images.length; i++) { %>
            <li>
                <img src='<%= images[i] %>'>
            </li>
            <% } %>
</ul>