---
layout: layout.njk
pagination:
  data: portfolioCategories
  size: 1
  alias: category
permalink: "/portfolio/{{ category.slug }}/index.html"
eleventyComputed:
  title: "{{ category.label }} Portfolio | Carmen Balaban"
---
<div class="container page">
  <div class="category-header row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h2>{{ category.heading }}</h2>
      <p>{{ category.description }}</p>
    </div>
  </div>
  <div class="row thumb-list">
    {% for item in collections.portfolioItems | byCategory(category.slug) %}
    <div class="col-sm-4">
      <div class="img-overlay">
        <a href="{{ item.data.slug }}.html" title="{{ item.data.title }}">
          <i class="fa fa-plus"></i>
          <img src="{{ item.data.slug }}-thumb.jpg" alt="{{ item.data.title }} thumbnail">
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
