---
layout: layout.njk
pagination:
  data: portfolio.categories
  size: 1
  alias: category
permalink: "/portfolio/{{ category.slug }}/index.html"
eleventyComputed:
  title: "{{ category.label }} Portfolio | Carmen Balaban"
---
<div class="container page">
  <div class="category-header row">
    <div class="col-md-6 col-md-offset-3 text-center">
      {{ category.markdown | markdown | safe }}
    </div>
  </div>
  <div class="row thumb-list">
    {% for item in category.items %}
    <div class="col-sm-4">
      <div class="img-overlay">
        <a href="{{ item.slug }}.html" title="{{ item.title }}">
          <i class="fa fa-plus"></i>
          <img src="{{ item.slug }}-thumb.jpg" alt="{{ item.title }} thumbnail">
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
