
body {
    background-color: white;
}

.navbar li > a.nav-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #506A85;
}

.navbar li > a:hover.nav-link {
    color:#1ABB9C;
}

.navbar-nav {
    float: none;
    height: 80px;
    padding-top: 18px;
}

.footer {
    color:#707E8C;
	width:100%;
	height:200px;
	position:absolute;
	background:#283646;
    padding-top: 30px;
    padding-bottom: 30px;
    left: 0;
    bottom:0;
}

.footer-navbar {
    display: inline-block;
    color: #707E8C;
}
.footer-navbar li {
    display: inline-block;
    margin-left: 10px;
}

.footer-navbar li:before {
    display: inline-block;
    content: "·";
    padding-right: 12px;
}

.footer-navbar li:first-child:before {
    display: none;
}

.footer-navbar a {
    color:#707E8C;
}

.footer-navbar a:hover {
    color:#1ABB9C;
    text-decoration: none;
}
