
body {
    background-color: white;
}

.navbar li > a.nav-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #506A85;
}

.navbar li > a:hover.nav-link {
    color:#1ABB9C;
}

.navbar-nav {
    float: none;
    height: 80px;
    padding-top: 18px;
}

.footer {
    color:#707E8C;
	width:100%;
	height: 82px;
	position:absolute;
	background:#283646;
    padding-top: 30px;
    padding-bottom: 30px;
    left: 0;
    bottom:0;
}

.footer-navbar {
    display: inline-block;
    color: #73879C;
}
.footer-navbar li {
    display: inline-block;
    margin-left: 10px;
}

.footer-navbar li:before {
    display: inline-block;
    content: "·";
    padding-right: 12px;
}

.footer-navbar li:first-child:before {
    display: none;
}

.footer-navbar a {
    color:#707E8C;
}

.footer-navbar a:hover {
    color:#1ABB9C;
    text-decoration: none;
}

.footer-up {
    background-color:#2f4052; 
    color: #A3B1BF;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    height: 350px;
    position: absolute;
    line-height: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    left: 0;
    bottom:0;
}

 .h4 li > a:hover{
    color: #1ABB9C;
    text-decoration: none;
}

.col-md-4 h4{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    text-transform: uppercase;
    display: inline-block;
}

.container-up {
    width: 980px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

 .txt-btn a:hover{
    color: #707E8C;
    text-decoration: none;
}

a:hover .whitelogo {
    opacity: .6;
}

.contacts {
    list-style: none;
    padding-left: 2px;
    line-height: 20px;
    color: #707E8C;
}

.contacts a:hover {
    color: #1ABB9C;
    text-decoration: none;
}

 .dropdown-menu>li>a {
    border-top: 1px solid #ccc;
    border-radius: none;
    background:white;
    background-clip: padding-box;
    color: white;
}

.dropdown-menu>li>a:hover {
   color: white;
   background: #1ABB9C;
}


dropdown-menu .nav-link {
   color: #FFF;
}