
body {
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    color: #73879C;
}

main {
    font-size: 20px;
}
a { 
    color: inherit;
}

p {
    margin-bottom: 20px;
}

h1 {
    font-size: 44px;
    line-height: 130%;
    margin-bottom: 25px;
    font-weight: 700;
    color: #506A85;
    letter-spacing: 0.025em;
    font-family: 'Lato', sans-serif;
    margin-top: 50px;
}

h2 {
    font-size: 26px;
    line-height: 130%;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    color: #506A85;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.text-center {
    text-align: center;
}

.center-block {
    float: none;   
}

a:hover {
    color: #1ABB9C;
    text-decoration: none;
}

header p {
    font-size: 22px;
    line-height: 150%;
}

.navbar li > a.nav-link {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #506A85;
}

.navbar li > a:hover.nav-link {
    color:#1ABB9C;
}

.navbar-nav {
    float: none;
    height: 80px;
    padding-top: 18px;
}

 .dropdown-menu > li > a {
    border-top: 1px solid #ccc;
    border-radius: none;
    background-clip: padding-box;
    color: white;
    background-color: #F5F7FA;
}

.dropdown-menu > li > a:hover.nav-link {
   color: white;
   background: #1ABB9C;
}

.dropdown-menu .nav-link {
    color: #FFF;
}

.page {
    min-height: 400px;
}

.social li {
    list-style: none; 
}

.border-left p {
    font-size: 18px;
}

.border-left .contacts {
    font-size: 18px;
}
.form-group input {
    background: #F8FAFD;
    border-radius: 3px;
}

.footer {
    color:#707E8C;
	background:#283646;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-navbar {
    display: inline-block;
}

.footer-navbar li {
    display: inline-block;
    margin-left: 10px;
}

.footer-navbar li:before {
    display: inline-block;
    content: "·";
    padding-right: 12px;
}

.footer-navbar li:first-child:before {
    display: none;
}

.footer-navbar a:hover {
    color:#1ABB9C;
    text-decoration: none;
}

.footer-up {
    background-color:#2f4052; 
    color: #A3B1BF;
    line-height: 20px;
    padding-bottom: 30px;
}

.footer-up h4 {
    color: white;
    text-transform: uppercase;
    margin-top: 30px;
}

.footer-up p {
    color: #A3B1BF;
    margin-bottom: 15px;
    font-size: 14px;
}

.whitelogo {
    margin-bottom: 8px;
}

a:hover .whitelogo {
    opacity: .6;
}

.thumbs.gap-xs .thumb {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right:0px;
    padding-top: 0px;
}   
    
.thumbs.gap-xs a:hover {
    background-color: #1ABB9C;
}

.contacts {
    list-style: none;
    padding-left: 2px;
    line-height: 20px;
}

::selection {
    background: #AAF2E4;
    color: #506A85;
}

::-moz-selection {
    background: #AAF2E4;
    color: #506A85;
}