<div class="container">
    <div class="row">
        <div class="col-md-8 inner-right-md">
            <h1>I'M ALL IN ONE - <br>A CREATIVE AND DIGITAL PORTFOLIO</h1>
            <div class="row">
                <div class="col-sm-6">
                    <h2>What we do</h2>
                    <p>Before releasing film scores under his own name, Tiersen recorded background music for a number of plays and short films. In the summer of 1993, Tiersen stayed in his apartment, recording music alone with an electric guitar, a violin, and an accordion, guided by his vision of “a musical anarchy”. By the end of that summer, Tiersen had recorded over forty tracks, which would form most of his first two albums.
                    </p>
                    <p>Before releasing film scores under his own name, Tiersen recorded background music for a number of plays and short films. In the summer of 1993, Tiersen stayed in his apartment, recording music alone with an electric guitar, a violin, and an accordion, guided by his vision of “a musical anarchy”. By the end of that summer, Tiersen had recorded over forty tracks, which would form most of his first two albums.
                    </p>
                </div>
                <div class="col-sm-6">
                    <h2>What we believe in</h2>
                    <p>We believe in the power of Story. Not just in the telling, but in the ability a great story has to include, activate, and involve an audience. We are experts in translating the soul of a company into the stories that combine the right experience with the right message, and deliver it to the right people at the right time.</p>
                    <p>Great stories communicate core values at every point of contact. That’s why we execute a palette of integrated services that bring the best ideas to market.</p>
                </div>
            </div>
        </div>
    </div>
