<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <header>
            <h1>Portfolio overview</h1>
            <p>This is where you can see all about the projects I’ve worked on during the last few years.</p>
        </header>
    </div>
     <div class="col-md-2"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 portfolio">
            <ul class="filter text-center">
                <li>
                    <a href="#" class="active">All</a>
                </li>
                <li>
                    <a href="#" class="">Branding</a>
                </li>
                <li>
                    <a href="#" class="">Print</a>
                </li>
                <li>
                    <a href="#" class="">Stationery</a>
                </li>
                <li>
                    <a href="#" class="">Illustration</a>
                </li>
            </ul>
            <ul class="items col-3">
                <li class="item thumb print-design">
                    <a href="#">
                        <figcaption class="text-overlay">
                            <div class="info">
                                <h4>Appsscreen Dashboard</h4>
                                <p>Print Design
                                </p>
                            </div>
                        </figcaption>
                        <img src="/images/work 5.jpg">
                    </a>
                </li>
                <li class="item thumb branding">
                    <a href="#">
                        <figcaption class="text-overlay">
                            <div class="info">
                                <h4>Name of the project</h4>
                                <p>Branding</p>
                            </div>
                        </figcaption>
                        <img src="/images/work 5.jpg">
                    </a>
                </li>
                </li>
                <li class="item thumb branding">
                    <a href="#">
                        <figcaption class="text-overlay">
                            <div class="info">
                                <h4>Name of the project</h4>
                                <p>Branding</p>
                            </div>
                        </figcaption>
                        <img src="/images/work 5.jpg">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>