<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <h1>Get in touch</h1>
            <p>Do you want to know more? I'd love to hear from you!</p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row contact-main">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6 contact-left">
                    <h2>Leave a Message</h2>

                    <form role="form" class="form-group contact-form" action="//forms.brace.io/contact@carmenbalaban.com" method="post">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" name="name" class="form-control" placeholder="Name (Required)" name="inputBox" />
                                <input type="email" name="_replyto" class="form-control" placeholder="Email (Required)">
                                <input type="text" name="subject" class="form-control" placeholder="Subject">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <textarea name="message" class="form-control" placeholder="Enter your message..."></textarea>
                            </div>
                        </div>
                        <input type="hidden" name="_next" value="//www.carmenbalaban.com/contact-thanks.html" />
                        <button type="submit" class="btn btn-default btn-submit">Submit Message</button>
                    </form>
                </div>

                <div class="col-sm-6 contact-right">
                    <h2>Contact</h2>
                    <p>I'm passionate about what I do and am often working on a few projects at a time but I am always happy to hear about something new I can start on! Chances are if there's something in my portfolio you enjoy, just let me know.</p>
                    <h3>Carmen Balaban</h3>
                    <ul class="contact-list">
                        <li><i class="glyphicon glyphicon-phone"></i> +40 765 275 808</li>
                        <a href="#"><i class="glyphicon glyphicon-envelope"></i> contact@carmenbalaban.com
                   </a>
                    </ul>
                    <div class="social-network">
                        <h3>Social</h3>
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="fa fa-behance"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
