<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="item">
                <img src="/images/Festival ReCreativ.jpg">
            </div>
        </div>

        <div class="col-md-4">

            <h2>Fresh branding for a creative startup</h2>
            <p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum.</p>
            <p class="text-small">Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem. Laceaque eictemperum quiae sitiorem rest non restibusaes dem tumquam.</p>
            <ul class="item-details">
                <li class="date">August 4-5, 2012</li>
                <li class="categories">Stationery, Print Design</li>
                <li class="client">Asociatia Re/Creativ</li>
                <li class="url">
                    <a href="#">asociatiarecreativ.blogspot.com</a>
                </li>
            </ul>
        </div>
    </div>
</div>