<div class="row">
    <div class="col-md-8 center-block text-center">
        <header>
            <h1>Beautiful. Clean. Responsive.</h1>
            <p>This is where you can tell all about the pretty stuff you developed during your last years without looking back. It's just as simple as that. Tada.</p>
        </header>
    </div>
</div>